---
const today = new Date();
---

<footer class="footer footer-center block pb-7 pt-7">
  <div class="inline opacity-50">
      If you want to support this podcast, check out my <a class="link" href="#">Patreon</a> page.
      <br/>
      Yours with ⚡️ since <span class="font-bold"> 2023</span>
      <br/>
      Aliyah Daleen
  </div>
</footer>
<style></style>
